*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}
.section1{
    background-color: aqua;
}
.section2{
    background-color: blue;
}
@media screen and (min<600pxpx) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
      align-items: center;
    }
}